<div class="container">
<!--   <% @surveys.each do |survey| %>
    <div id='<%=survey.id%>'>
      <a href= 'surveys/<%= survey.id %>'> <%=survey.title%></a> by <img src=<%= User.find(survey.user_id).gravatar%>+'?s=30'/> <a href='/users/<%=User.find(survey.user_id).id %>'><%= User.find(survey.user_id).username %></a>
      <% if survey.user_id == current_user.id %>
        <form class="delete-button" action="/surveys/<%= survey.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete!">
        </form>
      <% end %>
    </div>
  <% end %> -->
</div>
