<div class="container">
  <img class="gravatar" src='<%=@user.gravatar%>?s=200'>
  <h1 class="profile"><%= @user.username%>'s Surveys:</h1>
  <ul>
    <% @user.surveys.each do |survey| %>
    <li id="<%=survey.id%>">
      <a class="survey-links" href="/surveys/<%=survey.id%>"><%=survey.title%></a>
      <% if survey.user_id == current_user.id %>
        <form class="delete-button" action="/surveys/<%= survey.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete!">
        </form>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
