<h1><%= @survey.title %></h1><h4>by: <%= User.find(@survey.user_id)%></h3>

<form action="/surveys/<%=@survey.id%>" method="post">
  <%@question.each do |question|%>
    <label for <%= question.query %>> <%=question.query%></label>
    <input type="text" name="response" placeholder="Type yo answer here">
    <br>
  <% end %>
  <input type="submit" value="Submit">
</form>
